@import url('https://fonts.googleapis.com/css2?family=Forum&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Source+Serif+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --background: #444444;
  --font: white;
  --secondary: #b1b1b1;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: white;
    --font: #444444;
    --secondary: #767676;
  }
}

body {
  background-color: #444444;
  background-color: var(--background);
  color: white;
  color: var(--font);
  font-family: "Source Sans Pro", "helvetica neue", "helvetica", sans-serif;
  margin: auto;
  max-width: 480px;
  padding: 20px;
  word-wrap: break-word;
}

html {
  #wordmark {
    user-select: none;
  }
}

a {
  color: inherit;
  text-decoration: underline;
  text-decoration-color: #767676;
  text-decoration-color: var(--secondary);
  text-underline-offset: 0.15em;
  text-underline-position: below;

  &:hover {
    background-color: #767676;
    background-color: var(--secondary);
    text-decoration: none;
  }
}

article {
  img {
    max-width: 240px;
  }
  p,
  ul,
  ol {
    font-family: "Source Serif Pro", "Georgia", serif;
  }
}

blockquote {
  border-left: 0.125em solid #b96aff;
  margin-left: 30px;
  padding: 10px;
  padding-left: 15px;

  a {
    color: inherit;
    text-decoration: none;
  }
}

code {
  font-family: ui-monospace, SFMono-Regular, ui-monospace, 'Menlo', 'Consolas', 'Monaco', 'Liberation Mono', 'Lucida Console', monospace;
}

footer {
  text-align: justify;

  a {
    text-decoration: underline;
  }
}

h1 {
  color: #b96aff;
}

li {
  line-height: 1.5;
}

nav {
  li {
    line-height: 1.75;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }
}

p {
  line-height: 1.5;
}

.info {
  color: #767676;
  color: var(--secondary);
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Avenir Next', 'Avenir', 'Segoe UI', 'Helvetica', 'Cantarell', 'Ubuntu', 'Roboto', 'Noto', 'Arial', sans-serif;
  font-style: italic;

  a {
    text-decoration-color: white;
    text-decoration-color: var(--font);    
    &:hover {
      background-color: white;
      background-color: var(--font);    
    }
  }
}

.prominent {
  a {
    text-decoration-color: #b96aff;

    &:hover {
      background-color: #b96aff;
    }
  }
}

#dated-li {
  padding-bottom: 15px;
}

#landing-main {
  padding-top: 5px;
  padding-bottom: 15px;
}

#links-wrapper {
  ul {
    list-style-type: none;
  }

  li {
    line-height: 1.5;
  }
}

#post-class-indicator {
  text-decoration: none;

  &:hover {
    background-color: white;
    background-color: var(--font);
  }
}

#post-list {
  list-style-type: none;
  padding: 0;

  li {
    padding-bottom: 15px;
  }
}

#recent-info {
  span {
    display: inline-block;
  }
}

#site-footer {
  padding-left: 40px;
  padding-top: 20px;
}

#taxonomy {
  padding-top: 15px;
}

#thanks h2 {
  color: #b96aff;
  font-family: "Source Serif Pro", "Georgia", serif;
  font-style: italic;
  font-weight: 300;
}

#wordmark-wrapper {
  font-family: "Forum", serif;
  letter-spacing: 0.2em;

  a {
    text-decoration: none;

    &:hover {
      background-color: inherit;
    }
  }
}

.hidden {
  display: none !important;
  visibility: hidden !important;
}
