{{ define "main" }}
<main>
  {{ with .Title }}
  <h1>{{ . }}</h1>
  {{ end }} {{ if eq .Title "Blog Posts" }}
  <nav>
    <ul aria-label="Post filters" class="info">
      <h3>Filter posts by:</h3>
      <li aria-label="Filter by category or tag">
        <a aria-label="Filter by category" href="/categories">Category</a> /
        <a aria-label="Filter by tag" href="/tags">Tag</a>
      </li>
      <li aria-label="Filter for featured or evergreen tag">
        <a aria-label="Filter by featured tag" href="/tags/featured"
          >Featured</a
        >
        /
        <a
          aria-label="Filter by evergreen tag"
          class="small-caps"
          href="/tags/evergreen"
          >Evergreen</a
        >
      </li>
    </ul>
  </nav>
  {{ end }} {{ if not (eq .Title "Projects") }} {{ range .Data.Pages.GroupByDate "January 2006" }}
  <h2>{{ .Key }}</h2>
  <ul id="post-list">
    {{ range .Pages }}
    <li>
      <span class="info">
        <i>
          <small>
            <time>{{ .Date.Format "Jan 2 ’06" }}</time>
            {{ if in .Params.tags "featured" }}
            <span class="inline-padded">
              <a
                class="info no-decoration"
                title="Featured post"
                aria-label="Featured post"
                href="/tags/featured"
              >
                <b>★</b>
              </a>
            </span>
            {{ end }} {{ if in .Params.tags "evergreen" }}
            <span class="inline-padded small-caps">
              <a
                class="info no-decoration"
                title="Evergreen post"
                aria-label="Evergreen"
                href="/tags/evergreen"
              >
                <b>Evergreen</b>
              </a> </span
            >{{ end }}
          </small>
        </i>
      </span>
      <br />
      <a id="post-link" href="{{ .RelPermalink }}">{{ .Title }}</a>
    </li>
    {{ end }}
  </ul>
  {{ end }} {{ else if eq .Title "Projects" }} {{ range .Data.Pages }}
  <ul id="post-list">
    <li>
      <span class="info"
        ><i
          ><small><time>{{ .Date.Format "Jan ’06" }}</time></small></i
        ></span
      >
      <br />
      <a href="{{ .RelPermalink }}">{{ .Title }}</a>
      <br />
      <span class="info"
        >{{ with .Description }}<i><small>{{ . }}</small></i></span
      >
    </li>
    {{ end }}
    {{ end }}
  </ul>
  {{ end }} {{ if eq .Kind "term" }}
  <p class="info">
    To subscribe to an RSS feed of new posts in {{ .RelPermalink }}, use this
    link: <a href="{{ .Permalink }}index.xml">{{ .Permalink }}index.xml</a>.
  </p>
  {{ end }}
</main>
{{ end }}
