{{ define "main" }}
<main>
  {{ if eq .Section "blog" }}
  <article>
    {{ end }}
    <header>
    <h1>{{ .Title }}</h1>
    {{ if eq .Section "blog" }}
    {{ with .Site.Author.name }}
    <address class="info">by <a rel="author" href="/">{{ . }}</a></address>
    {{ end }}
    <br>
    <time pubdate datetime={{ .Date.Format "2006-01-02 15:04" }} class="info">{{ .Date.Format "January 2, 2006" }}
      <small>
        at {{ .Date.Format "3:04 PM" }}
      </small>
    </time>
    </header>
    {{ end }}
    {{ .Content }}
  {{ if eq .Section "blog" }}
  </article>
  {{ partial "thanks" . }}
  {{ end }}
  <footer class="info" id="taxonomy">
    {{ with .Params.categories }}
    <p>
      Posted in: {{ range $key, $value := . }} {{- if $key }}, {{ end }}
      <a href='{{ "/categories/" | relLangURL }}{{ $value | urlize }}'
        >{{ . }}</a
      >
      {{- end }}
    </p>
    {{ end }}
    {{ with .Params.tags }}
    <p>
      Tags: {{ range $key, $value := . }} {{- if $key }}, {{ end }}
      <a href='{{ "/tags/" | relLangURL }}{{ $value | urlize }}'>{{ . }}</a>
      {{- end }}
    </p>
    {{ end }}
  </footer>
</main>
{{ end }}
