// # fonts

@font-face {
  font-family: "Berkeley Mono";
  src: url("/fonts/BerkeleyMonoVariable-Regular.woff2");
  font-display: swap;
}

// # constants

:root {
  --background: #121212;
  --font: white;
  --image-brightness: inherit;
  --secondary: #b1b1b1;
  --underline: #b1b1b1;
  --underline: rgba(177, 177, 177, 0.7);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: white;
    --font: #444444;
    --secondary: #767676;
    --underline: #767676;
    --underline: rgba(118, 118, 118, 75%);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --image-brightness: 75%;
  }
}

// # elements

// ## special elements

body {
  @extend .ff-default;
  background-color: #444444;
  background-color: var(--background);
  box-sizing: border-box;
  color: white;
  color: var(--font);
  margin: auto;
  margin-top: 10px;
  max-width: 480px;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  word-wrap: break-word;

  * {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: subpixel-antialiased;
    text-rendering: optimizeLegibility;
  }
}

// ## regular elements

a {
  color: inherit;
  text-decoration: underline;
  text-decoration-color: #767676;
  text-decoration-color: var(--underline);
  text-decoration-thickness: 0.02rem;
  text-underline-offset: 0.35rem;
  text-underline-position: below;

  &:hover {
    background-color: rgba(124, 58, 237, 0.5);
    text-decoration-style: dotted;
    text-underline-offset: inherit;
  }
}

article {
  p,
  ul,
  ol {
    @extend .ff-serif;
  }
}

blockquote {
  border-left: 0.125rem solid #7c3aed;
  margin: 20px;
  padding: 5px 0px 5px 20px;

  a {
    color: inherit;
    text-decoration: none;
  }
}

form {
  * {
    @extend .ff-default;
    font-stretch: ultra-expanded;
  }
}

code {
  @extend .ff-mono;
}

footer {
  text-align: justify;

  a {
    text-decoration: underline;
  }
}

h1 {
  color: #7c3aed;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @extend .ff-default;
  font-weight: bolder;
  font-stretch: expanded;
}

img {
  filter: brightness(var(--image-brightness));
  max-width: 100%;
}

input {
  background-color: var(--background) !important;
  color: var(--font) !important;
}

li {
  line-height: 1.5;
}

nav {
  li {
    line-height: 2;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }
}

p {
  line-height: 1.65;
}

// classes

// ## font families

.ff-mono {
  font-family: "Berkeley Mono", "Berkeley Mono Variable", "JetBrains Mono",
    "ui-monospace", "Cascadia Code", "Source Code Pro", "Menlo", "Consolas",
    "DejaVu Sans Mono", "monospace", "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
}

.ff-default {
  font-family: system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
}

.ff-serif {
  font-family: "Charter", "Bitstream Charter", "Georgia", "Sitka Text",
    "Cambria", serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
}

// ## regular classes

.info {
  @extend .ff-mono;
  color: #767676;
  color: var(--secondary);
  font-stretch: condensed;
  font-weight: lighter;
}

.inline-padded {
  padding-left: 5px;
}

.post-class-indicator {
  font-size: large;
}

.post-header a {
  text-decoration: none;
}

.post-link {
  @extend .ff-serif;
  font-size: 1.125rem;
  font-style: italic;
  line-height: 1.5rem;
  margin-bottom: 15px;
}

.prominent {
  color: inherit !important;
  font-stretch: expanded;
  font-weight: bolder !important;

  a {
    text-decoration-color: rgb(124, 58, 237);
    text-decoration-thickness: 0.03rem;
  }
}

.single-header a {
  text-decoration: none;
}

.small {
  font-size: smaller;
}

.small-caps {
  font-variant: small-caps;
  font-variant-caps: small-caps;
}

#dated-li {
  padding-bottom: 15px;
}

// # ids

#landing-main {
  display: grid;
  padding-bottom: 15px;
  padding-top: 5px;

  blockquote {
    @extend .prominent;
  }

  img {
    border: 0.125rem solid #743ee4;
    border-radius: 9999px;
    margin: auto;
    max-height: 144px;
    max-width: 144px;
    place-content: center;
  }

  strong {
    font-stretch: expanded;

    em {
      @extend .info;
      font-stretch: ultra-expanded;
      letter-spacing: 0.1em;
      font-style: inherit;

      a {
        text-decoration: none !important;
      }
    }
  }
}

#links-wrapper {
  li {
    line-height: 1.5;
  }

  ul {
    list-style-type: none;
  }
}

#post-list {
  list-style-type: none;
  padding: 0;

  li {
    padding-bottom: 15px;
  }
}

#recent-info {
  span {
    display: inline-block;
  }
}

#site-footer {
  p {
    font-weight: 100;
  }

  margin-bottom: 40px;
  margin-top: 40px;
}

#taxonomy {
  padding-top: 15px;
}

#thanks h2 {
  color: #7c3aed;
}

#wordmark * {
  user-select: none;
}

#wordmark-wrapper {
  letter-spacing: 0.2rem;

  a:hover {
    background-color: inherit;
  }

  h1 {
    @extend .ff-serif;
    font-style: italic;
  }
}

// # supreme classes

.hidden {
  display: none;
  visibility: hidden;
}

.no-decoration {
  text-decoration: none !important;
}
