<head>
  <!-- crucial metadata -->
  <meta charset="UTF-8" />
  <meta content="text/html; charset=UTF-8" name="Content-Type" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="robots" content="index, follow" />
  <meta name="theme-color" content="#7c3aed" />
  <title>
    {{ if .IsHome }}{{ else }}{{ if .Page.Title }}{{ .Page.Title }} - {{ end }}
    {{ end }}{{ .Site.Title }}
  </title>
  {{ if .IsHome }}
  <link rel="canonical" href="https://www.kitia.net" />
  {{ else }}
  <link rel="canonical" href="https://www.kitia.net/{{ .Permalink }}" />
  {{ end }}
  <!-- favicon -->
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
  <!-- RSS Feed -->
  {{ with .OutputFormats.Get "RSS" -}} {{ printf `
  <link rel="%s" type="%s" href="%s" title="%s" />
  ` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }} {{- end }}
  <!-- inline styles -->
  {{ $scss := resources.Get "styles/main.scss" | resources.ToCSS (dict "outputStyle" "compressed") | fingerprint | minify }}
  <style>
    {{ $scss.Content | safeCSS }}
  </style>
	<!-- font prefetching -->
	<link rel="preload" href="/fonts/BerkeleyMonoVariable-Regular.woff2" as="font" type="font/woff2" crossorigin>
	<link rel="prefetch" href="/fonts/BerkeleyMonoVariable-Regular.woff2" as="font" type="font/woff2">
  <!-- SEO, etc. Metadata -->
  {{ with .Site.Params.icon }}
  <link rel="apple-touch-icon" href="{{ . }}" />
  {{ end }} {{ with .Site.Author.name }}
  <meta name="author" content="{{ . }}" />
  {{ end }} {{ with .Site.Params.copyright }}
  <meta name="copyright" content="{{ . }}" />
  {{ end }} {{ with .Site.Params.description }}
  {{ end }} {{ with .Site.Params.title }}
  <meta name="site_name" content="{{ . }}" />
  {{ end }} {{ with .Title }}
  <meta name="title" content="{{ . }}" />
  {{ end }}
  <!-- Open Graph MD -->
	{{ $description := .Site.Params.description }}
  {{ if and (eq .Type "blog") (not (eq .Title "Blog")) }}
  <meta property="og:type" content="article" />
	{{ $description = "A blog post by Ben Kitia" }}
  {{ else }}
  <meta property="og:type" content="website" />
	{{ if .Description }}
	{{ $description = .Description }}
	{{ end }}
  {{ end }}
	<meta name="description" content="{{ $description }}" />
  <meta
    property="og:description"
    content="{{ $description }}"
  />
	{{ $baseURL := .Site.BaseURL }}
	{{ with .Params.cover }}
	<meta property="og:image" content="{{ $baseURL }}{{ . }}" />
	{{ else }}
	{{ with .Site.Params.icon }}
  <meta property="og:image" content="{{ . }}" />
  {{ end }} {{ end }} {{ with .Site.Params.title }}
  <meta property="og:site_name" content="{{ . }}" />
  {{ end }} {{ with .Title }}
  <meta property="og:title" content="{{ . }}" />
  {{ end }} {{ with .Permalink }}
  <meta property="og:url" content="{{ . }}" />
  {{ end }}
  <!-- Twitter MD -->
  <meta name="twitter:card" content="summary_large_image" />
  {{ with .Site.Author.twitter }}
  <meta name="twitter:creator" content="{{ . }}" />
  {{ end }}
  <meta name="twitter:description" content="{{ $description }}" />
	{{ with .Params.cover }}
	<meta property="twitter:image" content="{{ $baseURL }}{{ . }}" />
	{{ else }}
	{{ with .Site.Params.icon }}
  <meta property="twitter:image" content="{{ . }}" />
  {{ end }} {{ end }}
	{{ with .Site.Params.twitter }}
  <meta name="twitter:site" content="{{ . }}" />
  {{ end }} {{ with .Title }}
  <meta name="twitter:title" content="{{ . }}" />
  {{ end }} {{ with .Site.Params.baseURL }}
  <meta name="twitter:url" content="{{ . }}" />
  {{ end }}
  <!-- analytics -->
  <script src="/scripts/beam.min.js" data-token="eb9c6ea9-e19d-47af-9c47-c226a627141f" defer></script>
</head>
