<div>
  <h2>Latest writing</h2>
  <ul id="post-list">
    {{ range first 5 (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) }}
    <li>
      <span class="info">
        <i>
          <small>
            <time>{{ .Date.Format "Jan 2 ’06" }}</time>
            {{ if in .Params.tags "featured" }}
            <span class="inline-padded">
              <a
                class="info no-decoration"
                title="Featured post"
                href="/tags/featured"
              >
                <b>★</b>
              </a>
            </span>
            {{ end }}{{ if in .Params.tags "evergreen" }}
            <span class="inline-padded small-caps">
              <a
                class="info no-decoration"
                title="Evergreen post"
                href="/tags/evergreen"
                ><b>Evergreen</b>
              </a>
            </span>
            {{ end }}
          </small>
        </i>
      </span>
      <br />
      <a id="post-link" href="{{ .RelPermalink }}">{{ .Title }}</a>
    </li>
    {{ end }}
  </ul>
  <p id="recent-info">
    <span class="info">Above are the 5 most recent posts.</span>
    <span class="prominent"><a href="/blog">All blog posts →</a></span>
  </p>
</div>
