<div>
  <h2>Latest writing</h2>
  <ul id="post-list">
    {{ range first 5 (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) }}
    <li>
      <span class="info">
          <small>
            <time>{{ .Date.Format "Jan 2 ’06" }}</time>
            {{ if in .Params.tags "featured" }}
            <span class="inline-padded">
              <a
                class="info no-decoration post-class-indicator"
                title="Featured post"
                href="/tags/featured"
              >
                <b>★</b>
              </a>
            </span>
            {{ end }}{{ if in .Params.tags "evergreen" }}
            <span class="inline-padded small-caps">
              <a
                class="info no-decoration post-class-indicator"
                title="Evergreen post"
                href="/tags/evergreen"
                ><b>Evergreen</b>
              </a>
            </span>
            {{ end }}
          </small>
      </span>
      <br />
      <a class="post-link" href="{{ .Permalink }}">{{ .Title }}</a>
    </li>
    {{ end }}
    <li>
      <span class="info"><small>Above are the 5 most recent posts.</small></span>
      <br />
      <span class="prominent"><a href="/blog">All blog posts →</a></span>
    </li>
  </ul>
</div>
