<div id="thanks">
  <h2>Thanks for reading!</h2>
  <p>
    Share thoughts:
    <a href="mailto:hello@bvk.email?subject=Your%20blog%20post%20{{ .Title }}"
      >email</a
    >
    / <a href="https://twitter.com/bensonkitia">Twitter</a> /
    <a href="https://mastodon.social/@kitia">Mastodon</a>
  </p>
  <p id="sharesheet-link">
    <a onclick="shareSheet('{{ .Permalink }}')">Share post link</a>
  </p>
  <p>
    <a href="/subscribe/#blog-posts"
      ><span class="prominent">Subscribe</span> to future posts</a
    >
  </p>
</div>
<script defer>
  function hideShareLink() {
    try {
      const shareSheetLink = document.getElementById("sharesheet-link");
      shareSheetLink.style.display = "none";
    } catch (error) {
      console.error(error);
    }
  }
  if (!navigator.share) {
    hideShareLink();
  }
  function shareSheet(permaLink) {
    if (navigator.share) {
      navigator.share({ url: permaLink }).catch(console.error);
    } else {
      hideShareLink();
    }
  }
</script>
